<div class="order-details">
  <h4>Orders</h4>
  <!-- @for (order of orders; track $index) { -->
  <div class="each-order">
    <p>Order ID: {{ orders.orderId }}</p>
    <p>Order Date: {{ orders.orderDate }}</p>
    <h3>Items</h3>
    <div class="items">
      @for (item of orders.products; track $index) {
      <div class="single-item">
        <img
          src="{{ item.image }}"
          alt="{{ item.name }}"
          width="200px"
          height="200px"
        />
        <div>
          <p>{{ item.name }}</p>
          <!-- <p>Total: {{ item.price * item.quantity| currency }}</p> -->
        </div>
      </div>
      }
    </div>
    <p>Grand Total : {{ orders.totalPrice | currency }}</p>
  </div>
  <!-- } -->
</div>
