<button (click)="placeOrder()" mat-button>
    <span class="material-symbols-outlined"> Place order</span>
  </button>
<div class="whole-page">
    @for(cartItem of allItems ; track $index){
    <div class="container">
      <img src="{{ cartItem.image }}" alt="" />
      <div class="content">
        <h3>{{ cartItem.name }}</h3>
        <p>Quantity : {{ cartItem.qty }}</p>
        <p>price : {{ cartItem.price }}</p>
        <p>total : {{ cartItem.qty * +cartItem.price }}</p>
        <button (click)="removeFromCart(cartItem)" mat-button>
            <span class="material-symbols-outlined">Remove From Cart</span>
          </button>
      </div>
    </div>
    }
</div>

