@if (isLoggedIn) { 
  <div class="load">
    @if (isLoading) {
      <mat-spinner></mat-spinner>
    }
  </div>
  @if (allItems.length == 0) {
<div class="msg">
  <h4>Your Cart is empty</h4>
</div>
}@else {

  <div class="place-order">
    <button (click)="placeOrder()" mat-raised-button  matTooltip="Place Order" matTooltipPosition="above" >
      ...<span class="material-symbols-outlined">local_shipping</span>...
    </button>
  </div>
  <div class="grand-total">
    <h4>Cart Total: {{ grandTotal | currency }}</h4>
  </div>
<div class="bdy">
  <div class="whole-page">
    <div *ngFor="let cartItem of allItems; let i = index" class="container">
      <img [src]="cartItem.image" alt="{{ cartItem.name }}" />
      <div class="content">
        <h3>{{ cartItem.name }}</h3>
        <p>Quantity: {{ cartItem.quantity }}</p>
        <p>Price: {{ cartItem.price | currency }}</p>
        <p>Total: {{ cartItem.quantity * cartItem.price | currency }}</p>
        <button (click)="removeFromCart(cartItem)" mat-button>
          <span >Remove From Cart</span>
        </button>
      </div>
    </div>
  </div>
</div>
} } @else {
<div class="msg">
  <h4>Please <strong>Login</strong> to add items to Cart.. 😊</h4>
</div>
}
