body{
    margin: 2rem 2rem;
}

header > nav {
display: flex;
justify-content: center;
gap: 2rem;
}
header{
    padding: 2rem;
}
.example-button-row{
    display: flex;
    gap: 1rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}