<header>
  <nav>
    <div class="example-button-row">
      <a routerLink="" mat-raised-button
        >Home
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="home"
        ></mat-icon
      ></a>


      <a routerLink="cart" mat-raised-button
        >Cart
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="cart"></mat-icon> -->
      </a>

      <a routerLink="orders" mat-raised-button
        >Orders
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="order"></mat-icon> -->
      </a>
      
      <a routerLink="login" mat-raised-button
        >Login
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="login"
        ></mat-icon
      ></a>

      <!-- <a routerLink="signup" mat-raised-button>Signup </a> -->
    </div>

    <!-- <div class="example-button-row">
      <a mat-raised-button routerLink="addBook">Add Book</a>
    </div> -->
  </nav>
</header>
<router-outlet />
