<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<div class="whole">
  <header>
    <nav>
      <img
        class="imm"
        src="https://w7.pngwing.com/pngs/79/327/png-transparent-shopping-cart-online-shopping-e-commerce-computer-icons-shopping-cart-blue-angle-text.png"
        alt=""
        width="100px"
        height="90px"
      />
      <div class="example-button-row">
        <a routerLink="" mat-raised-button
          >Home
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="home"
          ></mat-icon
        ></a>

        <a routerLink="cart" mat-raised-button
          ><span class="material-symbols-outlined"> shopping_cart </span> Cart
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="cart"></mat-icon> -->
        </a>

        <a routerLink="orders" mat-raised-button
          ><span class="material-symbols-outlined"> receipt_long </span> Orders
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"  fontIcon="order"></mat-icon> -->
        </a>

        @if (!dataService.isToken) {
        <a routerLink="login" mat-raised-button
          >Login
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="login"
          ></mat-icon
        ></a>
        }@else {
        <a routerLink="" mat-raised-button (click)="logout()"
          >Logout
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="logout"
          ></mat-icon
        ></a>
        }
      </div>
      <!-- @if (dataService.isToken){ -->
      <div class="name">
        <h6>Hello! {{name}}</h6>
      </div>
    <!-- } -->
    </nav>
  </header>
</div>
<router-outlet />
