body{
    margin: 2rem 2rem;
}

header > nav {
display: flex;
justify-content: space-between;
gap: 2rem;
}
// .imm{
//     padding-right: 40rem;
// }
header{
    padding: 2rem;
}
.example-button-row{
    display: flex;
    gap: 1rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
// .whole{
//     background-color: #FCF8F3;
// }