<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <!-- <mat-card-subtitle>🖊️ {{ product.name }}</mat-card-subtitle> -->
  </mat-card-header>
  <img
    mat-card-image
    src="{{ product.image }}"
    alt="Product Image"
    width="100%"
    height="300px"
  />
  <mat-card-content class="content-container">
    <mat-card-footer class="example-card-footer">
      <button (click)="addToCart()" mat-button>
        <span class="material-symbols-outlined">Add to Cart</span>
      </button>
      <button routerLink="/overview/{{ product.id }}" mat-button>
        <span class="material-symbols-outlined"> info</span>
      </button>
      <p>
        type : <strong>{{ product.type }}</strong>
      </p>
      <p>
        price : <strong>{{ product.price }}</strong>
      </p>
      <p>
        Quantity : <strong>{{ product.quantity }}</strong>
      </p>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
