.book-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 10rem;

    
  }  
   .List-of-book{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-family: sans-serif;
    justify-content: space-between;
    
   }
   .search{
    display: flex;
    justify-content: end;
    padding: 0rem 11rem;
    // margin: 0px 0px;
   }
.inp{
  min-width: 15rem;
  min-height: 5rem;
  display: flex;
  align-items:end;
}
.example-form-field {
  width: 200px;
}
.load{
  display: flex;justify-content: center;
}
// .whole{
//   // background-color: #F8EDE3;
//   background-color: #FCF8F3;
// }