<form class="search"  [formGroup]="searchForm">
  <mat-form-field class="inp">
    <input matInput placeholder="Search.." formControlName="search" />
    <mat-icon fontIcon="search"></mat-icon>
  </mat-form-field>
</form>

<div class="book-list-container">
  <div class="List-of-book">
    @if (isLoading) {
    <h1>Loading...</h1>
    } @for (product of allProducts; track product.productId) {
    <app-product
      [product]="product"
      [id]="product.productId"
      (addItemEvent)="addOneProduct(product)"
    />
    }
  </div>
</div>
<h1>{{ msg }}</h1>
